body{
  height: 100%;
  background: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  font: 300 1.5em/1.38 'Open Sans';
  color: rgb(255, 255, 255);
  position: static;
}
.wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}
.sign-up{
  display: block;
  position: absolute;
  width: 29.75%;
  height: 64px;
  top: 60%;
  left: 20%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.sign-up:hover{
    background-color: #FFF;
    color: #000;
    cursor: pointer;
}
.sign-in{
  display: block;
  position: absolute;
  width: 29.75%;
  height: 64px;
  top: 60%;
  left: 50%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.sign-in:hover{
    background-color: #FFF;
    color:  #000;
    cursor: pointer;
}
.bottom{
    position: absolute;
    height: 200%;
    width: 100%;
    bottom: -2000px;
    background-color: #FFF;
    transition: 1s;
    border-top: 18px solid rgb(255, 255, 255);
    z-index: 7;
}
.cta{
    position: absolute;
    font-size: 50px;
    text-align: center;
    left: 5%;
    top: 30%;
    font-weight: 700;
    
}
.down-but{
  background: url('../images/downclick.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 75%;
  left: 45.5%;
  transition: 1s;
}
.down-but:hover{
    cursor: pointer;
}
.email-input{
    height: 50px;
    width: 500px;
    display: block;
    border-radius: 100px;
    border: 5px solid rgb(0, 0, 0);
    position: absolute;
    top: 23%;
    left: 7%;
    text-align: center;
    z-index: 5;
}
.username{
    height: 50px;
    width: 500px;
    display: block;
    border-radius: 100px;
    border: 5px solid rgb(0, 0, 0);
    position: absolute;
    top: 40.25%;
    left: 7%;
    text-align: center;
    z-index: 5;
    
}
.password-input{
    height: 50px;
    width: 500px;
    display: block;
    border-radius: 100px;
    border: 5px solid rgb(0, 0, 0);
    position: absolute;
    top: 57.5%;
    left: 7%;
    text-align: center;
}
.submit{
    height: 50px;
    width: 510px;
    display: block;
    border-radius: 100px;
    border: 5px solid rgb(0, 0 ,0);
    position: absolute;
    top: 74.75%;
    left: 7%;
    text-align: center;
    background-color: rgb(50, 152, 230);
    z-index: 5;
}
.box{
    height: 400px;
    width: 600px;
    position: absolute;
    background-color: white;
    bottom: 2%;
    left: 1%;
    border-radius: 50px;
    z-index: 5;
    border: 3px solid rgb(0, 0, 0);
}
.sign-in-form{
    display: block;
    border: 3px solid rgb(0, 0 ,0);
    width: 600px;
    height: 400px;
    position: absolute;
    background-color: white;
    bottom: 2%;
    right: 1%;
    border-radius: 50px;
    z-index: 5;
}
.codeweb{
    position: absolute;
    right: 2%;
}
.sign-up-text{
    position: absolute;
    top: 5%;
    left: 7%;
    color: black;
}
.email{
    display: block;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100px;
    width: 500px;
    height: 50px;
    position: absolute;
    top: 23%;
    left: 7%;
    text-align: center;
}
.password{
    height: 50px;
    width: 500px;
    display: block;
    border-radius: 100px;
    border: 5px solid rgb(0, 0, 0);
    position: absolute;
    top: 40.25%;
    left: 7%;
    text-align: center;
}
.submit-2{
    height: 50px;
    width: 510px;
    display: block;
    border-radius: 100px;
    border: 5px solid rgb(0, 0 ,0);
    position: absolute;
    top: 57.25%;
    left: 7%;
    text-align: center;
    background-color: rgb(50, 152, 230);
    z-index: 5;
}
._text{
     position: absolute;
    top: 5%;
    left: 7%;
    color: black;
    z-index: 6;
}